<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }


        .errors {
            color: red;
        }

        INPUT {
            width: 50%;
        }
    </style>

</head>
<body>
<h2><a href="/">To main page</a></h2>
<form id="create-form" action="create.html" th:action="@{/create}" th:method="post" th:object="${newBook}">
    <h3>Create</h3>
    <div class="row">
        <label for="book-title-input">Name:</label>
        <input id="book-title-input" name="title" type="text"/>
        <div class="errors" th:if="${#fields.hasErrors('title')}">Wrong book title error</div>
    </div>

    <div class="row">
        <label for="book-authors-input">Authors:</label>
        <input id="book-authors-input" name="authors" type="text"/>
        <div class="errors" th:if="${#fields.hasErrors('authors')}">Wrong authors</div>
    </div>

    <div class="row">
        <label for="book-genres-input">Genres:</label>
        <input id="book-genres-input" name="genres" type="text"/>
        <div class="errors" th:if="${#fields.hasErrors('genres')}">Wrong genres</div>
    </div>

    <div class="row">
        <button type="submit" th:text="Save">Save</button>
        <a href="list.html" th:href="@{/}">
            <button type="button" th:text="Cancel">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
